body{
	padding: 54px 0px 0px 52px;
}
header{
	margin-bottom: 52px;
}
.logo{
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
}
nav{
	display: inline-block;
}
ul{
	display: inline-block;
}
li{
	display: inline-block;
}
.a1{
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	display: inline-block;
	vertical-align: middle;
	margin-right: 87px;
}
.a2{
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #8D81FF;
	display: inline-block;
	vertical-align: middle;
	margin-right: 81px;
}
.div1{
	width: 50px;
	height: 50px;
	background: #5012D5;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	padding: 8px 8px 8px 11px;
	margin-bottom: 18px;
}
.first{
	font-family: 'BPG Nino Mkhedruli';
	font-weight: 400;
	font-size: 32px;
	color: #8D81FF;
	margin-bottom: 8px;
}
.myh4{
	font-family: 'GL Tatishvili Metal';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #4E6FAE;
	margin-bottom: 13px;
}
.photo{
	margin-right: 100px;
	margin-bottom: 155px;
	display: inline-block;
	vertical-align: top;
}
.p-div{
	display: inline-block;
	vertical-align: top;
}
.myp{
	width: 778px;
	height: 353px;
	font-family: 'GL Kirovi';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	color: #4E6FAE;
}
.img1{
	margin-right: 23px;
}