.mybody{
	padding: 54px 0px 0px 52px;
}
header{
	margin-bottom: 52px;
}
.logo{
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
}
nav{
	display: inline-block;
}
ul{
	display: inline-block;
}
li{
	display: inline-block;
}
.a1{
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	display: inline-block;
	vertical-align: middle;
	margin-right: 87px;
}
.a2{
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #8D81FF;
	display: inline-block;
	vertical-align: middle;
	margin-right: 81px;
}
.div1{
	width: 50px;
	height: 50px;
	background: #5012D5;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	padding: 8px 8px 8px 11px;
	margin-bottom: 18px;
}
.first{
	font-weight: 400;
	font-size: 32px;
	color: #8D81FF;
	margin-bottom: 8px;
	font-family: "BPG Nino Mtavruli", sans-serif;
}
.myh4{
	font-family: GL Tatishvili Metal;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #4E6FAE;
	margin-bottom: 13px;
}
.photo{
	margin-right: 100px;
	margin-bottom: 155px;
	display: inline-block;
	vertical-align: top;
}
.p-div{
	display: inline-block;
	vertical-align: top;
}
.myp{
	width: 800px;
	font-family: "BPG Square", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #4E6FAE;
	margin-bottom: 5px;
}
.myp3{
	width: 800px;
	font-family: "BPG Nostalgia", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #4E6FAE;
	margin-bottom: 5px;
}
h2{
	font-family: 'GL Kirovi';
	font-style: normal;
	font-weight: 700;
	color: #4E6FAE;
}
.photo1{
	margin-bottom: 32px;
}
.myp1{
	width: 1021px;
	font-family: "BPG Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #4E6FAE;
	margin-bottom: 143px;
}
.container{
	width: 1052px;
	margin: 0 auto;
}
.mynav{
	margin-bottom: 97px;
}
.s-1{
	margin-bottom: 120px;
}
.infodiv{
	margin-bottom: 26px;
}
.myh2{
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	margin-right: 18px;
	vertical-align: middle;
}
.stick{
	display: inline-block;
	margin-right: 18px;
	width: 2px;
	height: 30px;
    background: #5012D5;
    vertical-align: middle;
}
.myh3{
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	vertical-align: middle;
}
.card1{
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;
	margin-right: 48px;
	padding: 20px;
	vertical-align: top;
	margin-bottom: 91px;
}
.card2{
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;
	padding: 20px;
	vertical-align: top;
	margin-bottom: 91px;
}
.imglogo{
	display: inline-block;
	vertical-align: middle;
	margin-right: 37px;
}
.infop{
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	width: 300px;
	vertical-align: middle;
	font-size: 20px;
}
.satauri{
	margin-bottom: 30px;
}
.mydiv{
	background-color: lightgray;
    height: 495px;
    margin-bottom: 150px;
}
.mydiv1{
	display: inline-block;
    width: 400px;
    height: 900px;
    margin-top: 180px;
    margin-right: 150px;
    margin-left: 100px;
    vertical-align: top;
    color: #4E6FAE;
    line-height: 30px;
}
.myh1{
	font-size: 25px;
}
.kontaqti{
	font-size: 18px;
}
.myiframe{
	vertical-align: top;
	padding: 93px 40px 93px 80px;
}
.myheader{
	padding: 54px 0px 0px 52px;
}
.myfooter{
	padding-left: 52px;
}
.img1{
	margin-right: 23px;
	margin-bottom: 100px;
}
